<!-- Main content -->
<main>
  <section>
    <div class="slider-wrapper">
      <div class="image-container">
        <img
          src="/images/slider1.webp"
          alt="Image"
          class="slider-img zoom-in"
        />
        <div class="overlay">
          <h5 class="sequenced-float-in">
            Find all the Japanese Pokémon Card Game cards, in display (boxes),
            booster and singles!
          </h5>
          <h1 class="sequenced-float-in">POKÉMON CARD GAME</h1>
          <h1 class="sequenced-float-in">Japanese Pokemon cards</h1>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="first-section-wrapper vstack gap-5">
      <div class="heading hstack">
        <span class="heading-title scroll-reveal"
          >All our japanese Pokémon cards</span
        >
        <span class="ms-lg-auto align-self-lg-end">
          <a href="/products/detail" class="view-all-link hstack gap-2">
            <span class="view-all-text">View all</span>
            <span class="fa-stack fa-1x">
              <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
              <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
            </span>
          </a>
        </span>
      </div>

      <div class="product-list">
        <div class="row flex-row flex-nowrap product-row">
          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTON -->
        <span class="fa-stack fa-2x prev-btn">
          <i class="fa-solid fa-circle fa-stack-2x"></i>
          <i class="fa-solid fa-angle-left fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-left fa-xs fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-2x next-btn">
          <i class="fa-solid fa-circle fa-2xl fa-stack-1x"></i>
          <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-right fa-xs fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper vstack gap-5">
      <div class="heading hstack">
        <span class="heading-title scroll-reveal">Collection list</span>
        <span class="ms-lg-auto align-self-lg-end">
          <a href="/products/detail" class="view-all-link hstack gap-2">
            <span class="view-all-text">View all</span>
            <span class="fa-stack fa-1x">
              <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
              <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
            </span>
          </a>
        </span>
      </div>

      <div class="container-fluid p-0">
        <div class="row g-3">
          <div class="col-md-6 col-lg-4">
            <div class="collection-wrapper">
              <img
                src="/images/collection1.webp"
                alt="Scarrlet & Violet"
                class="zoom-in"
              />
              <div class="overlay">
                <h1>Scarlet & Violet</h1>
                <span class="fa-stack fa-2x collection-btn">
                  <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
                  <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
                </span>
              </div>
              <a href="/products" class="link-overlay"></a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="collection-wrapper">
              <img
                src="/images/collection2.webp"
                alt="Scarrlet & Violet"
                class="zoom-in"
              />
              <div class="overlay">
                <h1>Sword & Shield</h1>
                <span class="fa-stack fa-2x collection-btn">
                  <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
                  <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
                </span>
              </div>
              <a href="/products" class="link-overlay"></a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="collection-wrapper">
              <img
                src="/images/collection3.webp"
                alt="Scarrlet & Violet"
                class="zoom-in"
              />
              <div class="overlay">
                <h1>Sun & Moon</h1>
                <span class="fa-stack fa-2x collection-btn">
                  <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
                  <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
                </span>
              </div>
              <a href="/products" class="link-overlay"></a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="collection-wrapper">
              <img
                src="/images/collection4.webp"
                alt="Scarrlet & Violet"
                class="zoom-in"
              />
              <div class="overlay">
                <h1>X & Y</h1>
                <span class="fa-stack fa-2x collection-btn">
                  <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
                  <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
                </span>
              </div>
              <a href="/products" class="link-overlay"></a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="collection-wrapper">
              <img
                src="/images/collection5.webp"
                alt="Scarrlet & Violet"
                class="zoom-in"
              />
              <div class="overlay">
                <h1>POKEMON Vintage</h1>
                <span class="fa-stack fa-2x collection-btn">
                  <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
                  <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
                </span>
              </div>
              <a href="/products" class="link-overlay"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper vstack gap-5">
      <div class="heading hstack">
        <span class="heading-title scroll-reveal">Our top pick</span>
        <span class="ms-lg-auto align-self-lg-end">
          <a href="/products" class="view-all-link hstack gap-2">
            <span class="view-all-text">View all</span>
            <span class="fa-stack fa-1x">
              <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
              <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
            </span>
          </a>
        </span>
      </div>

      <div class="product-list">
        <div class="row flex-row flex-nowrap product-row">
          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTON -->
        <span class="fa-stack fa-2x prev-btn">
          <i class="fa-solid fa-circle fa-stack-2x"></i>
          <i class="fa-solid fa-angle-left fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-left fa-xs fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-2x next-btn">
          <i class="fa-solid fa-circle fa-2xl fa-stack-1x"></i>
          <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-right fa-xs fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper">
      <div class="container-fluid p-0">
        <div class="row g-3">
          <div class="col-lg-6">
            <div class="m-auto featured-card-img">
              <img src="/images/feature-card.webp" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="featured-card-info">
              <a href="#" class="featured-card-category mb-3">Pokémon</a>
              <a href="/products/detail" class="featured-card-link mb-3"
                >Pokémon Card Game PROMO 323/S-P in blister</a
              >
              <div class="price">14.209.674₫</div>
              <hr class="my-4" />
              <div id="featured-card-text">
                <div class="mb-4">
                  Pokémon Card Game PROMO 323/S-P in blister
                </div>
                <div class="mb-4">
                  The card comes from the "PRECIOUS COLLECTOR BOX"
                </div>
                <div class="mb-4">Release date: November 2022</div>
                <div class="mb-4">Pikachu</div>
              </div>

              <div class="quantity-selector mb-4">
                <div class="mb-2 quantity-tag">Quantity:</div>
                <div class="d-flex quantity-btn-group align-items-center">
                  <button type="button" class="minus-btn">
                    <svg
                      role="presentation"
                      focusable="false"
                      width="10"
                      height="2"
                      viewBox="0 0 10 2"
                    >
                      <path d="M0 0H10V2H0V0Z" fill="currentColor"></path>
                    </svg>
                  </button>
                  <input type="text" class="quantity" value="1" />
                  <button type="button" class="plus-btn">
                    <svg
                      role="presentation"
                      focusable="false"
                      stroke-width="2"
                      width="10"
                      height="10"
                      viewBox="0 0 12 12"
                    >
                      <path
                        d="M6 0V12"
                        fill="none"
                        stroke="currentColor"
                      ></path>
                      <path
                        d="M0 6L12 6"
                        fill="none"
                        stroke="currentColor"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>

              <a href="/cart">
                <button type="button" class="add-btn">Add to cart</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper vstack gap-5">
      <div class="heading hstack">
        <span class="heading-title scroll-reveal">Pokémon Vintage Card</span>
        <span class="ms-lg-auto align-self-lg-end">
          <a href="/products/detail" class="view-all-link hstack gap-2">
            <span class="view-all-text">View all</span>
            <span class="fa-stack fa-1x">
              <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
              <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
            </span>
          </a>
        </span>
      </div>

      <div class="product-list">
        <div class="row flex-row flex-nowrap product-row">
          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTON -->
        <span class="fa-stack fa-2x prev-btn">
          <i class="fa-solid fa-circle fa-stack-2x"></i>
          <i class="fa-solid fa-angle-left fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-left fa-xs fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-2x next-btn">
          <i class="fa-solid fa-circle fa-2xl fa-stack-1x"></i>
          <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-right fa-xs fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper vstack gap-5">
      <div class="heading hstack">
        <span class="heading-title scroll-reveal">XY Pokémon</span>
        <span class="ms-lg-auto align-self-lg-end">
          <a href="/products" class="view-all-link hstack gap-2">
            <span class="view-all-text">View all</span>
            <span class="fa-stack fa-1x">
              <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
              <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
            </span>
          </a>
        </span>
      </div>

      <div class="product-list">
        <div class="row flex-row flex-nowrap product-row">
          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTON -->
        <span class="fa-stack fa-2x prev-btn">
          <i class="fa-solid fa-circle fa-stack-2x"></i>
          <i class="fa-solid fa-angle-left fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-left fa-xs fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-2x next-btn">
          <i class="fa-solid fa-circle fa-2xl fa-stack-1x"></i>
          <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-right fa-xs fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </section>

  <section>
    <div class="section-wrapper vstack gap-5">
      <div class="heading hstack">
        <span class="heading-title scroll-reveal">SUN & MOON Pokémon</span>
        <span class="ms-lg-auto align-self-lg-end">
          <a href="/products" class="view-all-link hstack gap-2">
            <span class="view-all-text">View all</span>
            <span class="fa-stack fa-1x">
              <i class="fa-solid fa-circle fa-xl fa-stack-1x"></i>
              <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
            </span>
          </a>
        </span>
      </div>

      <div class="product-list">
        <div class="row flex-row flex-nowrap product-row">
          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">
              <div class="card-image">
                <img
                  src="https://images.pokemontcg.io/xy1/1_hires.png"
                  alt="Image"
                />
                <a href="/products/detail" class="overlay"></a>
                <a href="/cart">
                  <button type="button" class="add-btn">+ Quick add</button>
                </a>
              </div>
              <div class="card-info">
                <div class="d-flex flex-column">
                  <a href="#" class="card-category">Pokémon</a>
                  <a href="/products/detail">
                    <div class="card-name">
                      Pokémon Card Game Bulbasaur - Vending series
                    </div>
                  </a>
                  <div class="card-price">211.990₫</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTON -->
        <span class="fa-stack fa-2x prev-btn">
          <i class="fa-solid fa-circle fa-stack-2x"></i>
          <i class="fa-solid fa-angle-left fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-left fa-xs fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-2x next-btn">
          <i class="fa-solid fa-circle fa-2xl fa-stack-1x"></i>
          <i class="fa-solid fa-angle-right fa-2xs fa-stack-1x"></i>
          <i class="fa fa-arrow-right fa-xs fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex flex-column m-auto near-footer">
      <div class="heading mb-4">POKÉMON CARD GAME - Japanese Pokémon cards</div>
      <div class="mb-4">
        Find all <strong>Japanese POKÉMON CARD GAME cards.</strong>
      </div>
      <div class="mb-4">
        <strong>Trainer's boxes,displays,single cards</strong>, online or
        on-demand, <strong>limited Pokémon Center products</strong> and other
        collectibles.
      </div>
      <div class="mb-4">
        <strong>Official products</strong> sent
        <strong>worldwide from Japan</strong>.
      </div>
      <div class="mb-4">
        Retrouvez toutes les cartes POKÉMON CARD GAME japonaises.
      </div>
      <div class="mb-4">
        <strong>Trainer's boxes, display, cartes à l'unité</strong> en ligne ou
        sur demande, <strong>produits limités du Pokémon Center</strong> et
        autres produits dérivés de collection.
      </div>
      <div class="mb-4">
        <strong>Produits officiels</strong> envoyés directement
        <strong>depuis le Japon dans le monde entier</strong>.
      </div>
      <div class="mb-4">
        Retrouvez toutes les cartes Japonaises Pokémon Card Game, en display
        (box, boîte), booster et à l'unité !
        <strong>Cartes Pokémon japonaises</strong> aux meilleurs prix.
      </div>
      <div class="mb-4">
        La liste des cartes n'est pas exhaustive puisque je ne propose pas
        encore sur le site toutes les cartes disponibles sur le marché.
      </div>
      <div>
        En revanche j'ai la la possibilité de les chercher pour vous ; alors
        n'hésitez pas à m'envoyer la liste des cartes que vous souhaitez via le
        formulaire de contact en bas du site. Je les chercherai pour vous et
        vous donnerai leur prix selon leur disponibilité au moment présent.
      </div>
    </div>
  </section>
</main>
