<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/product.css" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/card.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Document</title>
  </head>

  <body>
    <div class="container-fluid m-2 w-100 pb-3" style="max-width: 100%">
      <div class="row">
        <div class="col-12">
          <!-- Header/Navbar -->
          <header>
            <div class="navbar-wrapper">
              <!-- Navbar items collapse for small screen -->
              <div class="navbar-btn">
                <button
                  type="button"
                  class="navbar-btn-inside"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#navbarOffcanvas"
                  aria-controls="navbarOffcanvas"
                >
                  <svg
                    role="presentation"
                    stroke-width="2"
                    focusable="false"
                    width="22"
                    height="22"
                    class="icon icon-hamburger"
                    viewBox="0 0 22 22"
                  >
                    <path
                      d="M1 5h20M1 11h20M1 17h20"
                      stroke="currentColor"
                      stroke-linecap="round"
                    ></path>
                  </svg>
                </button>
              </div>
          
              <!-- Navbar brand -->
              <div class="navbar-logo">
                <a href="/"
                  ><img src="/images/brandllogo.png" alt="" class="brand-logo"
                /></a>
              </div>
          
              <!-- Navbar items/links -->
              <div class="navbar-items">
                <span class="navbar-item">
                  <a href="/products">All Pokemon Cards</a>
                </span>
                <span class="navbar-item">
                  <a href="/products">Pokemon Vintage</a>
                </span>
                <span class="navbar-item">
                  <a href="/products">Scarlet & Violet</a>
                </span>
                <span class="navbar-item">
                  <a href="/products">Sword & Shield</a>
                </span>
                <span class="navbar-item">
                  <a href="/products">Sun & Moon</a>
                </span>
                <span class="navbar-item">
                  <a href="/products">XY</a>
                </span>
              </div>
          
              <!-- Search/Profile/Cart icons -->
              <div class="navbar-icons">
                <button
                  type="button"
                  class="ms-2 p-2 search-btn"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#searchOffcanvas"
                  aria-controls="searchOffcanvas"
                >
                  <svg
                    role="presentation"
                    stroke-width="2"
                    focusable="false"
                    width="22"
                    height="22"
                    class="icon icon-search"
                    viewBox="0 0 22 22"
                  >
                    <circle
                      cx="11"
                      cy="10"
                      r="7"
                      fill="none"
                      stroke="currentColor"
                    ></circle>
                    <path
                      d="m16 15 3 3"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </button>
                <a href="/account" class="ms-2 p-2">
                  <svg
                    role="presentation"
                    stroke-width="2"
                    focusable="false"
                    width="22"
                    height="22"
                    class="icon icon-account"
                    viewBox="0 0 22 22"
                  >
                    <circle
                      cx="11"
                      cy="7"
                      r="4"
                      fill="none"
                      stroke="currentColor"
                    ></circle>
                    <path
                      d="M3.5 19c1.421-2.974 4.247-5 7.5-5s6.079 2.026 7.5 5"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                    ></path>
                  </svg>
                </a>
                <a href="/cart" class="ms-2 p-2">
                  <svg
                    role="presentation"
                    stroke-width="2"
                    focusable="false"
                    width="22"
                    height="22"
                    class="icon icon-deck"
                    viewBox="0 0 22 22"
                  >
                    <path
                      d="m5.3 11.5c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 11.6c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.3 0.4 0.3s0.4-0.2 0.4-0.4v-0.5s-0.2-0.2-0.4-0.2z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m7.8 12.3h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m6.5 12.3h-0.5c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4 0.1-0.2-0.1-0.4-0.3-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m9.2 12.3h-0.5c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.1-0.4-0.3-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 10.1c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 4.7c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.3 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 3.4c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 6.1c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 7.4c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.3 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 8.8c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.1-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m10.5 12.3h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 9c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 7.7c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.5c0-0.2-0.2-0.3-0.4-0.3z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 5c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.5c0-0.2-0.2-0.3-0.4-0.3z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 6.3c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 3.6c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m11.9 12.3h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4-0.1-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 2.3c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m13.2 12.3h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m14.5 12.3h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.1-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 10.4c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.4c0-0.3-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 11.7c-0.2 0-0.4 0.2-0.4 0.4v0.3c-0.1 0.2 0 0.4 0.2 0.5h0.1c0.2 0 0.3-0.1 0.4-0.3v-0.2-0.4c0.1-0.1-0.1-0.3-0.3-0.3z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m15.9 12.3h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m7.8 19.1h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m9.2 19.1h-0.5c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.1-0.4-0.3-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m10.5 19.1h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 16.9c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m6.5 19.1h-0.5c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4 0.1-0.2-0.1-0.4-0.3-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m11.9 19.1h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4-0.1-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.3 18.2c0.2 0 0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.4c0 0.3 0.2 0.4 0.4 0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m5.7 18.8c0-0.2-0.2-0.4-0.4-0.4s-0.4 0.2-0.4 0.4v0.5c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.5z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 17.1c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.4c0-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m13.2 19.1h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 15.8c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.4c0-0.3-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.7 18.4c-0.2 0-0.4 0.2-0.4 0.4v0.4c0 0.2 0.1 0.4 0.3 0.4h0.1c0.2 0 0.3-0.1 0.4-0.3v-0.1-0.4c0-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m15.9 19.1h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4s-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m14.6 19.1h-0.4c-0.2 0-0.4 0.2-0.4 0.4s0.2 0.4 0.4 0.4h0.4c0.2 0 0.4-0.2 0.4-0.4-0.1-0.2-0.2-0.4-0.4-0.4z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="m16.4 0h-10.8c-1.6 0-2.8 1.2-2.8 2.8v16.5c0 1.5 1.2 2.7 2.8 2.7h10.9c1.5 0 2.8-1.2 2.8-2.8v-16.4c-0.1-1.6-1.3-2.8-2.9-2.8zm1.4 19.2c0 0.7-0.6 1.3-1.3 1.3h-10.9c-0.7 0-1.3-0.6-1.3-1.3v-4.3c0.2 0.1 0.4 0.2 0.7 0.3 0 0.2 0.2 0.4 0.4 0.4s0.3-0.1 0.4-0.3h10.7c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.1c0.2-0.1 0.5-0.1 0.7-0.3v4.3zm0-6.8c0 0.7-0.6 1.3-1.3 1.3h-10.9c-0.7 0-1.3-0.6-1.3-1.3v-9.6c0-0.5 0.3-0.9 0.7-1.2v0.1c-0.1 0.2 0.1 0.3 0.3 0.3s0.4-0.2 0.4-0.4v-0.1h10.7v0.3c0 0.2 0.2 0.4 0.4 0.4s0.4-0.2 0.4-0.4v-0.2c0.4 0.2 0.7 0.7 0.7 1.2v9.6z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          
            <!-- Navbar Offcanvas -->
            <div
              class="offcanvas offcanvas-start"
              tabindex="-1"
              id="navbarOffcanvas"
              aria-labelledby="offcanvasLabel"
            >
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Navigation</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <div class="vstack gap-4">
                  <span class="navbar-item">
                    <a href="/products">All Pokemon Cards</a>
                  </span>
                  <span class="navbar-item">
                    <a href="/products">Pokemon Vintage</a>
                  </span>
                  <span class="navbar-item">
                    <a href="/products">Scarlet & Violet</a>
                  </span>
                  <span class="navbar-item">
                    <a href="/products">Sword & Shield</a>
                  </span>
                  <span class="navbar-item">
                    <a href="/products">Sun & Moon</a>
                  </span>
                  <span class="navbar-item">
                    <a href="/products">XY</a>
                  </span>
                </div>
              </div>
            </div>
          
            <!-- Search Offcanvas -->
            <div
              class="offcanvas offcanvas-end"
              tabindex="-1"
              id="searchOffcanvas"
              aria-labelledby="offcanvasLabel2"
            >
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel2">Search</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <form action="#">
                  <input
                    class="form-control form-control-lg"
                    type="text"
                    placeholder="Search for:"
                  />
                </form>
              </div>
            </div>
          </header>
          
          <section>
            <div class="slider-wrapper">
              <div
                class="d-grid gap-3 align-items-center justify-content-center"
              >
                <h1>All POKÉMON products</h1>
                <h6 class="text-center">All POKÉMON products</h6>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="d-flex align-items-center gap-3">
            <svg
              role="presentation"
              fill="none"
              focusable="false"
              stroke-width="2"
              width="20"
              height="14"
              class="icon-subdued icon icon-filter"
              viewBox="0 0 20 14"
            >
              <path
                d="M1 2C0.447715 2 0 2.44772 0 3C0 3.55228 0.447715 4 1 4V2ZM1 4H5V2H1V4Z"
                fill="currentColor"
              ></path>
              <path
                d="M1 10C0.447715 10 0 10.4477 0 11C0 11.5523 0.447715 12 1 12V10ZM1 12H11V10H1V12Z"
                fill="currentColor"
              ></path>
              <path
                d="M10 2H9V4H10V2ZM19 4C19.5523 4 20 3.55228 20 3C20 2.44772 19.5523 2 19 2V4ZM10 4H19V2H10V4Z"
                fill="currentColor"
              ></path>
              <path
                d="M16 10H15V12H16V10ZM19 12C19.5523 12 20 11.5523 20 11C20 10.4477 19.5523 10 19 10V12ZM16 12H19V10H16V12Z"
                fill="currentColor"
              ></path>
              <circle cx="7" cy="3" r="2" stroke="currentColor"></circle>
              <circle cx="13" cy="11" r="2" stroke="currentColor"></circle>
            </svg>
            Filters
          </div>
          <hr class="mt-3" />
          <div class="d-flex align-items-center justify-content-between">
            <span class="fw-bold">Promo:</span>
            <button
              class="circle-chevron rounded-circle border-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#promoCheckbox"
              aria-controls="promoCheckbox"
              aria-expanded="true"
            >
              <svg
                role="presentation"
                focusable="false"
                width="8"
                height="6"
                class="icon icon-chevron-bottom-small reverse-icon"
                viewBox="0 0 8 6"
              >
                <path
                  d="m1 1.5 3 3 3-3"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                ></path>
              </svg>
            </button>
          </div>
          <div class="collapse show" id="promoCheckbox">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="S-P"
              />
              <label class="form-check-label" for="S-P"> S-P (1) </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="svP1"
                checked
              />
              <label class="form-check-label" for="svP1"> svP1 (7) </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="XY-P"
                checked
              />
              <label class="form-check-label" for="XY-P"> XY-P (1) </label>
            </div>
          </div>
          <hr class="mt-3" />
          <div class="d-flex align-items-center justify-content-between">
            <span class="fw-bold">Rarity:</span>
            <button
              class="circle-chevron rounded-circle border-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#RarityCheckbox"
              aria-controls="RarityCheckbox"
              aria-expanded="false"
            >
              <svg
                role="presentation"
                focusable="false"
                width="8"
                height="6"
                class="icon icon-chevron-bottom-small reverse-icon"
                viewBox="0 0 8 6"
              >
                <path
                  d="m1 1.5 3 3 3-3"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                ></path>
              </svg>
            </button>
          </div>
          <div class="collapse" id="RarityCheckbox">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="CHR"
              />
              <label class="form-check-label" for="CHR"> CHR (12) </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="CLF"
                color="red"
              />
              <label class="form-check-label" for="CLF"> CLF (34) </label>
            </div>
          </div>
          <hr class="mt-3" />
          <div class="d-flex align-items-center justify-content-between">
            <span class="fw-bold">In stock only:</span>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
            </div>
          </div>
          <hr class="mt-3" />
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center justify-content-end">
            <span class="fw-bold">Sort by:</span>
            <div class="dropdown">
              <button
                class="group d-flex align-items-center gap-3 border-0"
                type="button"
                id="sortDropdown"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="selectedSortOption"
              >
                <span id="selectedSortOption" class="reversed-link"
                  >Date, new to old</span
                >
                <span class="circle-chevron rounded-circle"
                  ><svg
                    role="presentation"
                    focusable="false"
                    width="8"
                    height="6"
                    class="icon icon-chevron-bottom-small reverse-icon"
                    viewBox="0 0 8 6"
                  >
                    <path
                      d="m1 1.5 3 3 3-3"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                    ></path></svg
                ></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="sortDropdown">
                <a class="dropdown-item" href="#" data-value="manual"
                  >Featured</a
                >
                <a class="dropdown-item" href="#" data-value="best-selling"
                  >Best selling</a
                >
                <a class="dropdown-item" href="#" data-value="title-ascending"
                  >Alphabetically, A-Z</a
                >
                <a class="dropdown-item" href="#" data-value="title-descending"
                  >Alphabetically, Z-A</a
                >
                <a class="dropdown-item" href="#" data-value="price-ascending"
                  >Price, low to high</a
                >
                <a class="dropdown-item" href="#" data-value="price-descending"
                  >Price, high to low</a
                >
                <a class="dropdown-item" href="#" data-value="created-ascending"
                  >Date, old to new</a
                >
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="created-descending"
                  >Date, new to old</a
                >
              </div>
            </div>
          </div>
          <div class="row mt-2 g-3 mb-3">
            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-4 col-xl-3">
              <div class="d-flex flex-column sequenced-float-in">
                <div class="card-image">
                  <img
                    src="https://images.pokemontcg.io/xy1/1_hires.png"
                    alt="Image"
                  />
                  <a href="/products/detail" class="overlay"></a>
                  <a href="/cart">
                    <button type="button" class="add-btn">+ Quick add</button>
                  </a>
                </div>
                <div class="card-info">
                  <div class="d-flex flex-column">
                    <a href="#" class="card-category">Pokémon</a>
                    <a href="/products/detail">
                      <div class="card-name">
                        Pokémon Card Game Bulbasaur - Vending series
                      </div>
                    </a>
                    <div class="card-price">211.990₫</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="quantity-selector d-flex justify-content-center align-content-center mb-5"
          >
            <div class="d-flex quantity-btn-group align-items-center">
              <button type="button" class="minus-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                  />
                </svg>
              </button>
              <input type="text" class="quantity" value="1" />
              <button type="button" class="plus-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer">
          <div class="row g-3">
            <div class="col-lg-3">
              <div class="heading mb-4">About our website</div>
              <div class="text mb-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Corrupti, incidunt tempora quidem earum dicta nemo esse?
                Laboriosam culpa exercitationem cupiditate dolores modi. Aliquid
                excepturi, neque nesciunt libero et debitis pariatur.
              </div>
              <div class="text mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Officiis, temporibus?
              </div>
            </div>
            <div class="col-lg-3">
              <div class="heading mb-4">Something</div>
              <div class="text mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur commodi nesciunt deserunt, quibusdam est enim
                inventore ipsa nobis modi non? Rerum velit amet quis id dolore
                aspernatur tenetur laudantium cum?
              </div>
            </div>
            <div class="col-lg-3">
              <div class="heading mb-4">Another something</div>
              <div class="text mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Reprehenderit ea, ad, consequatur assumenda mollitia molestias
                corporis nisi veritatis quisquam non, facilis sed recusandae
                unde odio repellendus nemo repudiandae commodi temporibus.
              </div>
            </div>
            <div class="col-lg-3">
              <div class="heading mb-4">Another another something</div>
              <div class="text mb-4">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
                ut earum dicta, molestiae voluptatem repellendus dolores
                accusantium sequi saepe dolorum doloremque natus culpa. Sed et
                vero sit atque ex facere.
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto text-center">
              <div class="end">
                2023 WAD-21KTPM1 Project - Made with 💖🥰💝😍❣️😻
              </div>
              <div class="end">Reference: CARDOTAKU.com</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/scroll-reveal.js"></script>
    <script src="/scripts/landing-page.js"></script>
  </body>
</html>
